* {
  border-color: #6272a4 !important;
}
a {
  color: #f55 !important;
}
a:visited {
  color: #50fa7b !important;
}
body {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
}
html {
  background-color: #282a36 !important;
}
input,
textarea {
  background-color: #44475a !important;
  color: #f8f8f2 !important;
}
blockquote,
pre {
  background-color: #44475a !important;
  color: #f8f8f2 !important;
}
.post-actions {
  background-color: #44475a !important;
}
.textarea-wrapper {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
}
