// * dracula.styl

@require colors

// ** Colors
color-a = red
color-a-visited = green

color-background = background
color-background-highlight = selection
color-background-highlight-extra = comment
color-background-highlight-extra-less = lighten(color-background-highlight, 4%)
color-background-highlight-extra-less-less = lighten(color-background-highlight, 2%)
color-background-highlight-tad-extra = lighten(color-background, 2%)


color-border = comment
color-text = foreground
comment = comment

emphasized = foreground
emphasized-more = foreground
emphasized-more-more = foreground

button-gradient-top = bacground
button-gradient-bottom = background
